Source: nix
Maintainer: Tomasz Kontusz <tomasz.kontusz@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9), libbz2-dev, docbook5-xml, docbook-xsl, autoconf, perl-base, libsqlite3-dev, libdbd-sqlite3-perl, libgc-dev, flex, bison, automake, pkg-config, curl, libwww-curl-perl, libxml2-utils, xsltproc

Package: nix
Architecture: any
Depends:
# From the official package
  curl, libwww-curl-perl, libdbd-sqlite3-perl, libsqlite3-0, libbz2-1.0,
  bzip2, xz-utils,
# For maintainer scripts
  adduser,
# Magic
  ${shlibs:Depends}, ${misc:Depends}
Description: functional package manager
