#!/usr/bin/make -f
override_dh_auto_clean:
	./bootstrap.sh
	./configure
	dh_auto_clean
	rm Makefile.config

override_dh_auto_configure:
	dh_auto_configure -- --enable-gc --enable-perl-bindings \
	    --with-docbook-rng=/usr/share/xml/docbook/schema/rng/5.0/ \
	    --with-docbook-xsl=/usr/share/xml/docbook/stylesheet/docbook-xsl/

%:
	dh $@ --parallel
