#!/usr/bin/make -f
override_dh_auto_clean:
	./bootstrap.sh
	./configure
	make clean
	rm Makefile.config

override_dh_auto_configure:
	dh_auto_configure -- --enable-gc --enable-perl-bindings \
	    --with-docbook-rng=/usr/share/xml/docbook/schema/rng/5.0/ \
	    --with-docbook-xsl=/usr/share/xml/docbook/stylesheet/docbook-xsl/ \
	    CXXFLAGS="$$CXXFLAGS -Wno-format-security"

override_dh_auto_install:
	dh_auto_install
	dh_installinit --name=nix-daemon

%:
	dh $@ --parallel
